html {
	box-sizing: border-box;
}

* *::before,
*::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.font_righteous {
	font-family: 'Righteous', cursive;
}

.bck_black {
	background: linear-gradient(#3c3c3c, #535353);
}
.bck_red {
	background: linear-gradient(#ff5715, red);
}
.bck_yellow {
	background: linear-gradient(to bottom, #ffc249, #ffa800);
}

.iconImage {
	width: 20px;
	margin-right: 10px;
}

.center_wrapper {
	max-width: 900px;
	margin: 0 auto;
}

.overflow_hid {
	overflow: hidden;
}
