.wrapper {
	display: flex;
	flex-direction: column;
	padding: 70px 20px;
}

.percentage {
	padding-right: 100px;
	font-size: 10px;
}

.percentage span:nth-child(1) {
	color: #ff0000;
	text-shadow: 2px 2px 5px #2e2e2e;
	font-size: 8em;
	font-weight: 400;
	line-height: 120px;
}

.percentage span:nth-child(2) {
	color: #2c2c2c;
	text-shadow: 1px 1px 4px #000000;
	font-size: 4em;
	font-weight: 400;
}

.description h3 {
	text-shadow: 1px 1px 1px #2e2e2e;
	font-size: 2em;
	font-weight: 100;
	margin: 0px;
	color: #2c2c2c;
}

.description p {
	line-height: 30px;
	font-size: 1.1em;
	font-weight: 300;
}

@media (min-width: 800px) {
	.wrapper {
		flex-direction: row;
	}
	.percentage {
		font-size: 16px;
	}
	.percentage span:nth-child(1) {
		display: block;
	}
}
