/*====================
        PRICING
======================*/

.section {
	padding: 70px 0px;
}

.section h2 {
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	margin: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.item {
	flex-grow: 1;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.inner_wrapper {
	border: 2px solid #ffa800;
	padding: 50px 20px;
}

.title {
	color: #ffffff;
	text-align: center;
	border-bottom: 1px solid #ffa800;
	padding-bottom: 20px;
}
.title span:nth-child(1) {
	font-size: 50px;
	display: block;
}
.title span:nth-child(2) {
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 300;
}
.description {
	color: #b8b8b8;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	padding: 20px 0px;
	min-height: 70px;
}

.buttons {
	text-align: center;
}

@media (min-width: 800px) {
	.wrapper {
		flex-direction: row;
	}
	.item {
		width: 33%;
	}
}
