/*====================
        HEADER
======================*/

.bar {
	padding: 10px 0px;
	transition: all 300ms ease-in;
}

.logo {
	flex-grow: 1;
}

.logo_venue {
	font-size: 40px;
}

.logo_title {
	text-transform: uppercase;
}
